<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Adiciona Ação Judicial </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> CPF / CNPJ</label>
                        <input type="text" class="form-control" id="cpfCnpj" [(ngModel)]="acaoJudicial.cpf_cnpj"
                            name="cpfCnpj">
                    </div>

                    <div class="form-group">
                        <label> Nome</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="acaoJudicial.nome"
                            name="nome">
                    </div>

                    <div class="form-group">
                        <label>Status Pessoa</label>
                        <select #status (change)="onSelected()" class="form-control">
                            <option selected>{{acaoJudicial.descricao}}</option>
                            <option *ngFor="let statusPessoa of listaStatusPessoa" [value]="statusPessoa.status_id">{{statusPessoa.descricao}}</option>
                        </select>
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Adicionar</button>

                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>